name: CI

on:
  push:
    tags:        
      - '[0-9]+.[0-9]+.[0-9]+' 
    branches:
      - dev
      - master
  pull_request:

permissions:
    contents: write
    pull-requests: write

jobs:
    ci:
        runs-on: ubuntu-latest
        permissions:
            actions: read # for Nerivec/action-ci-bench
            pull-requests: write # for Nerivec/action-ci-bench
        steps:
            - uses: actions/checkout@v6
              if: (github.ref == 'refs/heads/dev' || startsWith(github.ref, 'refs/tags/')) && github.event_name == 'push'
              with:
                  # Required for `release: merge dev -> master and promote dev`
                  token: ${{ secrets.GITHUB_TOKEN }}

            - uses: actions/checkout@v6
              if: ((github.ref == 'refs/heads/dev' || startsWith(github.ref, 'refs/tags/')) && github.event_name == 'push') == false

            - uses: pnpm/action-setup@v4

            - uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: pnpm

            - name: Install dependencies
              run: pnpm i --frozen-lockfile

            - name: Check
              run: pnpm run check

            - name: Build
              run: pnpm run build

            - name: Test
              run: pnpm run test:coverage

            - name: Bench
#              if: github.ref == 'refs/heads/dev' || (github.event_name == 'pull_request' && !startsWith(github.head_ref, 'release-please-'))
              uses: Nerivec/action-ci-bench@main
              with:
                token: ${{ secrets.GITHUB_TOKEN }}
                compare-against: dev
                base-cmd: npx vitest bench --run --config ./test/vitest.config.mts --outputJson bench.json
                compare-cmd: npx vitest bench --run --config ./test/vitest.config.mts --compare bench.json
                base-result: bench.json

            - name: Log in to the GitHub container registry
              if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Docker setup - QEMU
              if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
              uses: docker/setup-qemu-action@v3
              with:
                  platforms: all

            - name: Docker setup - Buildx
              if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
              id: buildx
              uses: docker/setup-buildx-action@v3
              with:
                  version: latest

            - name: dev - Docker build and push
              if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: docker/Dockerfile
                  platforms: linux/arm64,linux/amd64
                  tags: ghcr.io/abaddon/zigbee2mqtt:latest-dev
                  push: true
                  build-args: |
                      COMMIT=${{ github.sha }}
                      VERSION=dev
                      DATE=${{ github.event.repository.updated_at }}

            - name: release - Docker meta
              if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
              uses: docker/metadata-action@v5
              id: meta
              with:
                  images: |
                      ghcr.io/abaddon/zigbee2mqtt
                  tags: |
                      type=semver,pattern={{version}}
                      type=semver,pattern={{major}}.{{minor}}
                      type=semver,pattern={{major}}

            - name: release - Docker build and push
              if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: docker/Dockerfile
                  platforms: linux/arm64,linux/amd64
                  tags: ${{ steps.meta.outputs.tags }}
                  push: true
                  build-args: |
                      COMMIT=${{ github.sha }}
                      VERSION=${{ github.ref_name }}
                      DATE=${{ github.event.repository.updated_at }}


    tests:
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                node: [20, 22, 24]
        runs-on: ${{ matrix.os }}
        continue-on-error: true
        steps:
            - uses: actions/checkout@v6

            - uses: pnpm/action-setup@v4

            - uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node }}
                  cache: pnpm

            - name: Install dependencies
              # --ignore-scripts prevents build on Windows (only for unix-dgram, so doesn't matter, others have pre-builds)
              run: pnpm i --frozen-lockfile ${{ matrix.os == 'windows-latest' && '--ignore-scripts' || '' }}

            - name: Build
              run: pnpm run build

            - name: Test
              run: pnpm run test:coverage
