on:
    push:
        branches:
            - main

permissions:
    contents: write
    pull-requests: write

name: Release Please

jobs:
    release-please:
        runs-on: ubuntu-latest
        outputs:
            release_created: ${{ steps.release.outputs.release_created }}
            version: '${{steps.release.outputs.major}}.${{steps.release.outputs.minor}}.${{steps.release.outputs.patch}}'
        steps:
            - uses: pnpm/action-setup@v4
              with:
                  version: 9

            - uses: actions/setup-node@v6
              with:
                  node-version: 24

            - uses: googleapis/release-please-action@v4
              id: release
              with:
                  target-branch: main
                  token: ${{secrets.GITHUB_TOKEN}}

            # Checkout repos
            - uses: actions/checkout@v6
              with:
                  repository: abaddon/zigbee2mqtt
                  path: ./z2m
            - uses: actions/checkout@v6
              with:
                  repository: abaddon/zigbee2mqtt
                  path: ./z2m-master
                  ref: master

